<div class="index-display" data-controller="indexpage">
  <div class="container">
      <h5 class="index-titles mr-6">EVERY SUBS</h5>
      <div class="d-flex flex-row">
        <button class="filter-btn p-2">Price</button>
        <button class="filter-btn p-2">Filter</button>
      </div>
  </div>
</div>
