// Define variables for your color scheme

// For example:
$backscreencolor: #F9F7EE;
$blue: blue;
$orange: orange;
$yellow: #FFF081;
$red: #C88383;
$green: #83C89C;
$light-green: #BBDCC7;
$gray: #2C2C2C;
$light-gray: #F4F4F4;
