// Define variables for your color scheme

$background: #35323D;
$glass: #46444E;
$card: #424246;
$buttoncolor: #758ED0;
$softgreen:#71CC9D;
$orange: #E7CA74;
$hardyellow: #FFF081;
$hardgreen:#59F0A2;
$hardred: #E9252E;
$text-gray: #B0ADB4;






// For example:
$backscreencolor: #35323D;
$blue: #758ED0;
$orange: #E7CA74;
$yellow: #FFF081;
$red: #E9252E;
$green: #59F0A2;
$light-green: #71CC9D;
$gray: #2C2C2C;
$light-gray: #46444E;
