.show-budget-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 92vh;
  & ul {
    list-style: none;
    padding: 0;
  }
}

.home-btn {
  appearance: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.6;
  transition: opacity 180ms ease-out;
  &:hover {
    color: inherit;
    opacity: 1;
  }
}

.budget-show-header {
  position: relative;
  background-color: $clr-bg-primary;
  padding: 1.3rem;
  border-radius: 0 0 1rem 1rem;
  & .progress-bar {
    border-radius: 0.3rem;
    padding: 0.2rem;
    background-image: linear-gradient(to right, $clr-btn-submit 50%, $clr-bg-secondary 50%) ;
  }
  & p {
    margin: 0;
  }
  & h2,
  & h5 {
    margin: 0;
  }
  & h2 {
    font-size: 2rem;
  }
  & h5 {
    font-size: 1rem;
  }
}
