.show-budget-wrapper {
  position: relative;
}

.home-btn {
  appearance: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.6;
  transition: opacity 180ms ease-out;
  &:hover {
    color: inherit;
    opacity: 1;
  }
}

.budget-show-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0 2.5rem 0;
  & h2,
  & h5 {
    margin: 0;
  }
  & h2 {
    font-size: 2rem;
  }
  & h5 {
    font-size: 1rem;
  }
}
