.no_subs_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-timing-function: ease-in-out;
  animation: fadein 4s;
  font-family: Poppins;

  & .home_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
  font-weight: 900;
  padding: 1rem;
  font-weight: 900;
  margin-top: 6rem;
    & h3 {
      margin: 1rem;
    }
  }

  & .home-arrow {
    font-size: 3rem;
    margin-top: 7rem;
    opacity: 0.8;
  }
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
