// Specific CSS for your home-page
body{
  background-color: $clr-bg-secondary;
  color: $clr-text-primary;
  //height: 100vh;
  width: 100vw;
  & main {
    margin-bottom: 16vh;
  }
  & a,
  & a:hover {
    text-decoration: none;
  }
  & input,
  & select,
  & textarea {
    background-color: rgba($color: $clr-bg-input, $alpha: 1) !important;
    color: $clr-text-primary !important;
    border: none;
    border-radius: 0.3rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.homepage {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.homepage-logo {
  margin-top: 2rem;
}

.homepage-description {
  margin-top: 2rem;
}
