// Specific CSS for your home-page
body{
  background-color: $clr-bg-secondary;
  color: $text-gray;
  height: 100vh;
  width: 100vw;
  //overflow: hidden;
  &.container {
    overflow: scroll;
  }
}
