// Specific CSS for your home-page
body{
  background-color: $clr-bg-secondary;
  color: $clr-text-primary;
  //height: 100vh;
  width: 100vw;
  & main {
    margin-bottom: 16vh;
  }
  & a,
  & a:hover {
    text-decoration: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
