.buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.button-cancel {
  font-size: 2rem;
  border-radius: 50%;
  padding: 0.5rem 1.25rem;
  text-align: center;
  background-color: rgba(255, 50, 30, 0.5);
}

.button-accept {
    font-size: 2rem;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: rgba(90, 210, 110, 0.7);
}
