.infos {
  text-align: center;
  & .icon {
    font-size: 3rem;
    margin: 1rem;
  }
  & .settings-header {
    margin-bottom: 1rem;
  }
  & .edit-button {
    font-size: 2rem;
    position: absolute;
    right: 2rem;
  }
  & .user_settings {
    font-size: 1rem;
  }
}

.settings_cards {
  background: #220F37;
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 1rem 0;
}
