<section class="show-budget-wrapper">
  <%= link_to dashboard_path, class: "home-btn" do %>
    <i class="fas fa-undo-alt"></i><strong>Home</strong>
  <% end %>
  <h3><%= @budget.name.upcase %></h3>
  <h5 class="mb-5"><%= @budget.price_per_month_cents %>€ per month</h5>
  <% if @budget.subscriptions.empty? %>
    <h6>There are no subscriptions in this budget</h6>
  <% else %>
    <ul>
      <% @budget.subscriptions.each do |subscription| %>
        <li>
          <%= render 'subscriptions/subscription_card', subscription: subscription %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
