<div class="container justify-content-center">
  <div class="card-budget">
    <h1 class="budget-name">Entertainment</h1>
    <p class="sub-number">4 apps</p>
    <p class="card-price"> <span>54,99 €</span></p>
  </div>
</div>
