<div class="container justify-content-center d-flex row wrap">
  <div class="card-service m-3">
    <div class="logo-service"></div>
    <div class="logo-name">Netflix</div>
    <div class="logo-info"> <span>Starting from 9,99€</span></div>
  </div>

  <div class="card-service m-3">
    <div class="logo-service"></div>
    <div class="logo-name">Netflix</div>
    <div class="logo-info"> <span>Starting from 9,99€</span></div>
  </div>

  <div class="card-service m-3">
    <div class="logo-service"></div>
    <div class="logo-name">Netflix</div>
    <div class="logo-info"> <span>Starting from 9,99€</span></div>
  </div>

  <div class="card-service m-3">
    <div class="logo-service"></div>
    <div class="logo-name">Netflix</div>
    <div class="logo-info"> <span>Starting from 9,99€</span></div>
  </div>
</div>
