<div class="fixed-bottom mb-3">
    <div class="container d-flex justify-content-center space-between align-items-center">
      <div class="dashboard-btn m-4">
        <svg width="66" height="50" viewBox="0 0 66 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="12.1045" y="7.02174" width="17.8571" height="16.3913" rx="8.19565" stroke="black"/>
        <rect x="36.7637" y="7.02174" width="17.8571" height="16.3913" rx="8.19565" stroke="black"/>
        <rect x="36.7637" y="28.0362" width="17.8571" height="16.3913" rx="8.19565" stroke="black"/>
        <rect x="12.1045" y="28.0362" width="17.8571" height="16.3913" rx="8.19565" stroke="black"/>
        </svg>
      </div>
      <div class="add-btn">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="30" cy="30" r="30" fill="#2C2C2C"/>
        <line x1="30.9109" y1="20.5479" x2="30.9109" y2="40.274" stroke="white"/>
        <line x1="20.5479" y1="29.911" x2="40.2739" y2="29.911" stroke="white"/>
        </svg>
      </div>
      <div class="budget-btn m-4">
        <svg width="58" height="45" viewBox="0 0 58 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 0.5H48C53.2467 0.5 57.5 4.75329 57.5 10V44.5H0.5V10C0.5 4.75329 4.75329 0.5 10 0.5Z" stroke="black"/>
        <line x1="1" y1="12.5" x2="57" y2="12.5" stroke="black"/>
        </svg>
      </div>
    </div>
  </div>
