<div class="rectangle d-flex justify-content-center align-items-center">
  <div class="icon">
    <%# Status Battery %>
    <svg width="27" height="11" viewBox="0 0 27 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9306 9H4.62983C3.75207 9 3.03967 8.316 3.03967 7.472V3.528C3.03967 2.685 3.75207 2 4.62983 2H13.9306C14.8083 2 15.5197 2.685 15.5197 3.528V7.472C15.5197 8.316 14.8083 9 13.9306 9Z" fill="white"/>
      <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M22.8 8.415C22.8 9.29 22.0616 10 21.1516 10H3.64836C2.73836 10 1.99996 9.29 1.99996 8.415V2.585C1.99996 1.71 2.73836 1 3.64836 1H21.1516C22.0616 1 22.8 1.71 22.8 2.585V8.415ZM21.4948 0H3.30516C2.01036 0 0.959961 1.01 0.959961 2.255V8.745C0.959961 9.99 2.01036 11 3.30516 11H21.4948C22.7896 11 23.84 9.99 23.84 8.745V2.255C23.84 1.01 22.7896 0 21.4948 0Z" fill="white"/>
      <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M24.6199 7.5V3.5C25.4811 3.5 26.1799 4.172 26.1799 5V6C26.1799 6.829 25.4811 7.5 24.6199 7.5Z" fill="white"/>
    </svg>
    <%# Status gsm %>
    <svg width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M16.2899 0.406311H17.2456C17.905 0.406311 18.4395 0.921311 18.4395 1.55531V9.82531C18.4395 10.4593 17.905 10.9743 17.2456 10.9743H16.2899C15.6295 10.9743 15.0959 10.4593 15.0959 9.82531V1.55531C15.0959 0.921311 15.6295 0.406311 16.2899 0.406311Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5114 2.70361H12.4671C13.1275 2.70361 13.661 3.21761 13.661 3.85261V9.82561C13.661 10.4596 13.1275 10.9746 12.4671 10.9746H11.5114C10.851 10.9746 10.3174 10.4596 10.3174 9.82561V3.85261C10.3174 3.21761 10.851 2.70361 11.5114 2.70361Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.73286 5.00101H7.68862C8.34902 5.00101 8.88254 5.51501 8.88254 6.14901V9.82501C8.88254 10.459 8.34902 10.974 7.68862 10.974H6.73286C6.07246 10.974 5.53894 10.459 5.53894 9.82501V6.14901C5.53894 5.51501 6.07246 5.00101 6.73286 5.00101Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.9543 6.37943H2.91006C3.57045 6.37943 4.10397 6.89343 4.10397 7.52743V9.82543C4.10397 10.4594 3.57045 10.9744 2.91006 10.9744H1.9543C1.29494 10.9744 0.760376 10.4594 0.760376 9.82543V7.52743C0.760376 6.89343 1.29494 6.37943 1.9543 6.37943Z" fill="white"/>
    </svg>
    <%# Status wifi %>
    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73558 7.00629C6.6259 7.00629 5.7003 7.73129 5.44342 8.70529L7.84374 10.9743L10.0652 8.87429C9.87798 7.81529 8.90974 7.00629 7.73558 7.00629Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73555 3.7959C5.70235 3.7959 3.91875 4.7929 2.89227 6.2949L4.37323 7.6929C4.98371 6.5139 6.25251 5.6959 7.73555 5.6959C9.27476 5.6959 10.5956 6.5729 11.1759 7.8259L12.661 6.4219C11.6501 4.8499 9.82492 3.7959 7.73555 3.7959Z" fill="white"/>
      <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M7.73557 0.405792C4.71437 0.405792 2.03428 1.76579 0.324524 3.86779L1.8138 5.27479C3.13045 3.52479 5.28949 2.37879 7.73557 2.37879C10.2368 2.37879 12.4426 3.57379 13.7499 5.39179L15.2402 3.98479C13.5346 1.81679 10.8129 0.405792 7.73557 0.405792Z" fill="white"/>
    </svg>
    <%# Hour %>
    <svg width="29" height="12" viewBox="0 0 29 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.94214 0.335968C2.65698 0.335968 0.987061 1.86673 0.987061 3.99808V4.01273C0.987061 5.99759 2.42261 7.46243 4.45142 7.46243C5.88696 7.46243 6.94165 6.73001 7.35913 5.76321H7.39575C7.40308 7.90189 6.70728 9.72562 4.90552 9.72562C3.96069 9.72562 3.30884 9.25687 3.03052 8.53177L3.00122 8.46585H1.12622L1.14819 8.54642C1.47778 10.1431 2.94263 11.271 4.89819 11.271C7.58618 11.271 9.20483 9.18362 9.20483 5.68997V5.67532C9.20483 1.96927 7.27124 0.335968 4.94214 0.335968ZM4.94214 6.00491C3.74097 6.00491 2.84741 5.14798 2.84741 3.94681V3.93216C2.84741 2.78958 3.78491 1.88138 4.96411 1.88138C6.15063 1.88138 7.07349 2.79691 7.07349 3.96878V3.9761C7.07349 5.1553 6.15063 6.00491 4.94214 6.00491ZM11.6409 4.17386C12.2342 4.17386 12.6956 3.70511 12.6956 3.11185C12.6956 2.51859 12.2342 2.05716 11.6409 2.05716C11.0477 2.05716 10.5789 2.51859 10.5789 3.11185C10.5789 3.70511 11.0477 4.17386 11.6409 4.17386ZM11.6409 9.54984C12.2342 9.54984 12.6956 9.08109 12.6956 8.48782C12.6956 7.89456 12.2342 7.43314 11.6409 7.43314C11.0477 7.43314 10.5789 7.89456 10.5789 8.48782C10.5789 9.08109 11.0477 9.54984 11.6409 9.54984ZM19.2626 11.0879H21.0644V9.05911H22.4999V7.50638H21.0644V0.519073H18.3764L13.9892 7.44778V9.05911H19.2626V11.0879ZM15.6884 7.55032V7.49905L19.2479 1.9473H19.2919V7.55032H15.6884ZM26.4009 11.0879H28.2539V0.519073H26.3862L23.625 2.45999V4.19583L26.3569 2.32083H26.4009V11.0879Z" fill="white"/>
    </svg>
  </div>
</div>
