<div class="call-to-action">
  <svg width="157" height="157" viewBox="0 0 157 157" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_ddd_131_676)">
  <rect x="10" y="9" width="137" height="137" rx="68.5" fill="#758ED0"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M88.7083 78.9583H79.9583V87.7083H77.0417V78.9583H68.2917V76.0417H77.0417V67.2917H79.9583V76.0417H88.7083V78.9583Z" fill="white"/>
  </g>
  <defs>
  <filter id="filter0_ddd_131_676" x="0" y="0" width="157" height="157" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dy="2"/>
  <feGaussianBlur stdDeviation="2"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_131_676"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dy="1"/>
  <feGaussianBlur stdDeviation="5"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"/>
  <feBlend mode="normal" in2="effect1_dropShadow_131_676" result="effect2_dropShadow_131_676"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dy="4"/>
  <feGaussianBlur stdDeviation="2.5"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.14 0"/>
  <feBlend mode="normal" in2="effect2_dropShadow_131_676" result="effect3_dropShadow_131_676"/>
  <feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow_131_676" result="shape"/>
  </filter>
  </defs>
  </svg>
</div>
