<div class="dashboard-cards py-4">
  <h1 class="page-title">My Subscriptions</h1>
  <% @user_subscriptions.each do |subscription| %>
    <%= link_to subscription_path(subscription) do %>
      <%= render "subscriptions/subscription_card", subscription: subscription %>
    <% end %>
  <% end %>
</div>
