<div class="">
<br>
<h1>Mes abonnements</h1>
  <div class="dashboard-cards">
    <% current_user.subscriptions.each do |subscription| %>
      <%= render "subscriptions/subscription_card", subscription: subscription %>
    <% end %>
  </div>
</div>
