<div class="homepage">
  <div class="homepage-logo">
    <h1 class="myra-text-logo special-font a1"> MYRA </h1>
  </div>
  <div class="homepage-description">
    <h2 class="myra-description a2">ALL YOUR SUBSCRIPTIONS IN ONE PLACE</h2>
  </div>
  <%= link_to dashboard_path do %>
    <%= render "homepage_button" %>
<% end %>
</div>
