<h1 class="myra-text-logo special-font a1"> MYRA </h1>
<h2 class="myra-description a2">ALL YOUR SUBSCRIPTIONS IN ONE PLACE</h2>

<%= link_to dashboard_path do %>
    <%= render "homepage_button" %>
<% end %>
