<div class="container py-2">
  <h2>Settings</h2>
  <br>
  <div class="infos" data-controller="edit-infos">
    <i class="fas fa-envelope icon"></i>
    <h6 class='settings-header'>
      <strong>Email</strong>:
    </h6>
    <%= render "settings_infos" %>
    <br>
    <i class="fas fa-money-check icon"></i>
    <h6 class='settings-header'>
      <strong>Total budget</strong>:
    </h6>
    <%= render 'settings_budget' %>
  </div>
</div>
