<h1 class="page-title py-4">Settings</h1>
<br>
<div class="infos" data-controller="edit-infos">
  <div class="settings_cards">
    <i class="fas fa-envelope icon"></i>
    <h6 class='settings-header'>
      <strong>Email</strong>:
    </h6>
    <%= render "settings_infos" %>
    <br>
  </div>
  <div class="settings_cards">
    <i class="fas fa-dollar-sign icon"></i>
    <h6 class='settings-header'>
      <strong>Total budget</strong>:
    </h6>
    <%= render 'settings_budget' %>
  </div>
   <%= link_to destroy_user_session_path, method: :delete do%>
    <div class="logout">
      <p id="logoutp">Log Out</p>
    </div>
  <% end %>
</div>
