<h1>Settings</h1>

<h6><strong>Email</strong>: <%= current_user.email %></h6>
<h6><strong>Total budget</strong>: <%= humanized_money_with_symbol current_user.global_budget%>/month
<% if policy(User).update? %>
  <%= link_to "", edit_user_path(current_user), class:"far fa-edit" %>
<% end %>
</h6>

<br>
<%= link_to "Back", dashboard_path %>
