<div class="services-wrapper">
  <h3>Choose a service...</h3>
  <ul class="list-group">
    <li class="list-group-item service" data-action='click->newForm#selectService' data-newForm-target="serviceCustom service">
      <div class="service-card" style='background: linear-gradient(to top, rgba(10,10,10,0.3), rgba(10,10,10,0.1));' >
        Other...
      </div>

    </li>
    <% services.each do |service| %>
      <li class="list-group-item service" data-action='click->newForm#selectService' data-newForm-target="servicePreset service">
        <div class="service-card"
            style='background: linear-gradient(to top, rgba(10,10,10,0.3), rgba(10,10,10,0.1)), url("<%= service.image_url %>")'
        >
          <%= service.name %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
