<h4 class="text-center my-3">What category of service are you subscribed to?</h4>
<ul class="categories-list">
  <% categories.each do |cat| %>
    <li
      class="categories-item <%= cat.name.gsub(/\W/, '') %>"
      data-action="click->newForm2#showServices"
      data-newForm2-target="category"
      data-category-id="<%= cat.id %>"
    >
      <h4 class="categories-title"><%= cat.name %></h4>
    </li>
  <% end %>
</ul>
