<div class="custom-offer-wrapper">
  <input class="form-input full-width" type="text" placeholder="service name" name="name">
  <input class="d-inline-block form-input" type="number" placeholder="Cost of subscription" step="any" name="price">
  <select class="d-inline-block dropdown" placeholder="service name" name="frequency">
    <option value="Weekly">Weekly</option>
    <option value="Monthly">Monthly</option>
    <option value="Annualy">Annualy</option>
  </select>
</div>
