#new_budget {
  border-radius: 0.4rem;
  & input {
    color: $clr-text-primary;
    background-color: $clr-bg-primary;
    border-radius: 4px;
    border: none;
    padding: 0.5em;
  }
  .submit-btn {
    background-color: $clr-btn-submit !important;
  }
}

.new-budget-container {
  max-height: 88vh;
}

.budget-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 0.5rem;
}

.budgets-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & a {
    color: $clr-text-primary !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    opacity: 0.7;
    transition: opacity 160ms ease-out;
  }
  & a:hover {
    color: $clr-text-primary !important;
    opacity: 1;
  }
}

.budgets-index-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 92vh;
  & .btn-submit {
    margin-top: auto;
  }
}

.budgets-wrapper {
  list-style: none;
  padding: 0;
  padding-bottom: 11vh;
  margin: 0;
  &.new{
    max-height: 58vh;
    overflow: scroll;
    scrollbar-width: none;
    & .sub-card {
      border: 2px solid transparent;
    }
    & .sub-card.selected {
      border: 2px solid white;
    }
  }
  & a,
  & a:hover{
    color: $clr-text-primary !important;
    text-decoration: none;
    -moz-appearance: none;
  }
  & h6 {
    font-size: 0.8rem;
  }
}

.new-budget-wrapper {
  border-radius: 0.3rem;
  background-color: $clr-bg-primary;
  padding: 1rem;
}

.budget-info {
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
}

.budget-amount {
  appearance: none;
  width: 44%;
  text-align: right;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

.budget-card {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0.4rem;
  background-color: $clr-bg-primary;
  padding: 1em;
  margin: 1.2rem 0;
  & .progress-bar {
  border-radius: 0.3rem;
  padding: 0.2rem;
  background-image: linear-gradient(to right, $clr-btn-submit 50%, $clr-bg-secondary 50%) ;
  & p {
    margin: 0;
  }
}
}

.shrink {
   display: flex;
   flex-shrink: 1;
   width: 100%
}

.slider-delete {
  width: 0;
  overflow: hidden;
  transition: width 250ms ease-in-out;
}
