.btn-dropshadow {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.text-btn {
  color: white;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.0703846px;
  text-align: center;
  line-height: 54px;
  letter-spacing: 0.0703846px;
}

.btn-green {
  position: absolute;
  background: #71CC9D;
  width: 114px;
  height: 57px;
  left: calc(50% - 114px/2 - 67px);
  bottom: 45px;
  border-radius: 50px;
  z-index: 4;
  transition-timing-function: ease;
}

.btn-yellow {
  position: absolute;
  background: #E7CA74;
  width: 114px;
  height: 57px;
  left: calc(50% - 114px/2 + 68px);
  bottom: 45px;
  border-radius: 50px;
  z-index: 4;
  transition-timing-function: ease;
}


// home-button & animations


.home-button {
  min-width: 100px;
  min-height: 100px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgb(113, 158, 209) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  padding: 10px;
  bottom: 3em;
  left: 38%;
  }

.home-button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(100px + 12px);
  min-height: calc(100px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.home-button:hover, .home-button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.home-button:hover::before, .home-button:focus::before {
  opacity: 1;
}

.home-button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.home-button:hover::after, .home-button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 220px;
    height: 220px;
    opacity: 0;
  }
}
