.card-details {
  display: flex;
  background: #210F37;
  box-shadow: 0px 0px 20.0331px #292634;
  border-radius: 9px;
  color: $white;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 1em 0;
}
