.card-img {
  background: linear-gradient(180deg, #17092A 0%, rgba(23, 9, 42, 0) 100%);
  transform: rotate(-180deg);
}

.card-body {
  width: 335px;
  height: 132px;
  background: #210F37;
}

.budget-name {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
}

.sub-number {
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  text-indent: 40px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #7C7C7C;
}

.card-price {
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-left: 200px;
}


.card-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: -1em;
  align-items: center;
}


.info-card {
  left: 6.15%;
  right: 5.9%;
  top: 15.28%;
  bottom: 65.76%;

  background: #1C1C1E;
  border-radius: 11px;
}

.info-card-title {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
