.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #210F37;
  justify-content: space-between;
  border-radius: 10px;
}

.banner{
  width: 375px;
  height: 309px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-details {
  display: flex;
  background: #210F37;
  border-radius: 9px;
  color: $white;
  width: 100%;
  width: 335px;
  height: 132px;
  justify-content: center;

}

.card-remind-option {
  display: flex;
  background: #210F37;
  border-radius: 9px;
  color: $white;
  align-items: center;
  width: 100%;
  width: 335px;
  height: 80px;
}

.card-details {
  display: flex;
}
