.card-subscription {
  background-color: $glass;
  border-radius: 20px;
  margin-top: 4em;
  backdrop-filter: blur(86.985px);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  .card-img {
    position: relative;
    display: flex;
    justify-content: center;
    height: 5em;
    img {
    position: absolute;
    object-fit: cover;
    top: -3em;
    height: 130px;
    width: 130px;
    border-radius: 50px;
    img {
      width: 100%;
    }
    }
  }
}

.card-budget {
  width: 334px;
  height: 178px;
  background: linear-gradient(132.02deg, rgba(247, 178, 103, 0.65) 26.3%, rgba(247, 178, 103, 0.3315) 85.19%);
  border-radius: 20px;
}

.budget-name {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
}

.sub-number {
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  text-indent: 40px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #7C7C7C;
}

.card-price {
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-left: 200px;
}

.card-buttons-wrapper{
  height: 1em;
  position: relative;
}

.card-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: -1em;
  align-items: center;
}

.btn-green-done {
  background-color:#71CC9D ;
  color: white;
  border-radius: 50px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-red-delete {
  color: white;
  background-color: #E797B4;
  border-radius: 50px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.info-card {
  left: 6.15%;
  right: 5.9%;
  top: 15.28%;
  bottom: 65.76%;

  background: #1C1C1E;
  border-radius: 11px;
}

.info-card-title {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
