.card-details {
  display: flex;
  background: #424246;
  box-shadow: 0px 0px 20.0331px rgba(0, 0, 0, 0.04);
  border-radius: 9px;
  color: #B0ADB4;
  align-items: center;
  width: 300px;
  height: 77px;
}

.card-details .details-icon {
  width: 20%;
  text-align: center;
}

.card-details .details-type {
  width: 40%;
}

.card-details .details-data {
  width: 40%;
}