.card-service {
width: 137px;
height: 101px;
border-radius: 9px;
background: #424246;
box-shadow: 0px 0px 20.0331px rgba(0, 0, 0, 0.04);
}

.logo-service {
  width: 32px;
  height: 32px;
  border: solid black;
  margin-bottom: 10px;
}

.logo-name {
  font-weight: 600;
  font-size: 13.3554px;
  line-height: 16px;
  color: white
}

.logo-info {
  font-size: 11.686px;
  line-height: 14px;
  color: #898A8E;
}

.logo-square {
  width: 9em;
  height: 9em;
  position: absolute;
  left: 16.5em;
  top: 21em;
  border: solid black;
}
