.Streaming {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(255,0,0, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgba(255,0,0,1) 0%, rgba(176,6,6,1) 50%, rgba(119,0,0,1) 100%);
}

.Communication {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(255,0,253, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgb(209, 10, 209) 0%, rgb(146, 9, 132) 50%, rgb(87, 5, 79) 100%);
}

.FoodDrink {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(255,130,0, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgba(255,130,0,1) 0%, rgba(176,87,6,1) 50%, rgba(119,64,0,1) 100%);
}

.Fitness {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(50,255,0, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgb(53, 216, 12) 0%, rgb(37, 143, 10) 50%, rgb(18, 88, 5) 100%);
}

.PersonalCareHealth {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(0,151,255, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgba(0,151,255,1) 0%, rgba(6,110,176,1) 50%, rgba(0,75,119,1) 100%);
}

.Software {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(168,184,217, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgba(168,184,217,1) 0%, rgba(104,116,136,1) 50%, rgba(73,85,102,1) 100%);
}

.Transportation {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(223,230,0, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgb(203, 209, 14) 0%, rgb(164, 172, 11) 50%, rgb(84, 88, 6) 100%);
}

.PetCare {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(0,230,33, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgb(12, 209, 101) 0%, rgb(11, 150, 73) 50%, rgb(4, 66, 32) 100%);
}

.Gaming {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(230,78,0, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgba(230,78,0,1) 0%, rgba(187,54,0,1) 50%, rgba(127,45,0,1) 100%);
}

.eCommerce {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(0,1,230, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgba(0,1,230,1) 0%, rgba(0,16,187,1) 50%, rgba(0,15,127,1) 100%);
}

.BooksNews {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(230,0,151, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgba(230,0,151,1) 0%, rgba(187,0,135,1) 50%, rgba(127,0,92,1) 100%);
}

.Academy {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(142,230,0, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgb(156, 209, 10) 0%, rgb(113, 150, 10) 50%, rgb(61, 82, 5) 100%);
}

.None {
  &.sub-wrapper {
    box-shadow: 0 0 20px 2px rgba(226,232,216, 0.4);
    background: $card;
  }
  background: $card;
  background: linear-gradient(to bottom right, rgba(226,232,216,1) 0%, rgba(185,189,175,1) 50%, rgba(148,150,141,1) 100%);
}
