.categories-list {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4%;
  grid-auto-flow: column;
  grid-auto-columns: 44%;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  margin: 0.5rem;
  padding: 0;
}

.categories-item {
  cursor: pointer;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border-radius: 0.5em;
  box-shadow: 0 4px 10px rgba($color: #003cff, $alpha: 0.2);
  font-weight: bolder;
  color: white;
  font-size: 0.8em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.active {
  box-shadow: 0 2px 8px 2px rgba($color: #003cff, $alpha: 0.6);
  }
  &.inactive {
    filter: grayscale(100%);
    opacity: 0.6;
  }
}

.categories-title {
  text-align: center;
  text-shadow: 0 2px 6px rgba(10, 10, 10, 0.4);
}
