.circle {
  width: 10rem;
  height: 10rem;
  background: #46444E;
  border: 4px solid #E9252E;
  box-sizing: border-box;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-logo {
  width: 60px;
  height: 60px;
  border: solid;
  text-align: center;
  line-height: 50px;
}

.circle-info {
  //changing color depending the days
  color: green;
  font-weight: bold;
}
