.circle-color {
  width: 157px;
  height: 157px;
  background: #46444E;
  border: 4px solid #E9252E;
  box-sizing: border-box;
  border-radius: 80px;
}

.circle-logo {
  width: 60px;
  height: 60px;
  border: solid;
  text-align: center;
  line-height: 50px;
}
