.add-btn {
  left: calc(50% - 75px/2 + 0.5px);
  bottom: 20px;
  z-index: 5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.add-btn:active svg {
  transform: rotate(-45.5deg);
  transition: all 0.5s ease-in;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
  bottom: 0;
  width: 100%;
  max-height: 16vh;
  box-shadow: 0 -5px 10px rgba(10, 10, 10, 0.4);
  border-radius: 1rem 1rem 0 0;
  padding: 0 0.5rem;
}

.purple-rounded {
  background-color: #210F37;
}

circle {
  background-color: #6644B8;
}
