.form-wrapper {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
}

.form-section {
  position: absolute;
  top: 2.5em;
  left: 0;
  right: 0;
  width: 100vw;
  transition: all 1360ms ease-in-out;
  overflow: hidden;
  padding: 0 1rem 3rem 1rem;
}

.form-section.hidden-one {
  bottom: 110%;
}

.form-section.hidden-two {
  bottom: 110%;
}

.custom-offer-wrapper {
  background-color: $clr-bg-primary;
  border-radius: 0.3rem;
  text-align: center;
  padding: 1em;
  & input,
  & select {
    font-weight: bolder;
  }
}

.form-price-wrapper {
  display: unset;
  background-color: #6644B8;
  padding: 0.6rem 0.3rem 0.6rem 0;
  border-radius: 0.3rem;
  margin-right: 1rem;
  & .form-input {
    border-radius: 0.3em 0 0 0.3em;
    text-align: right;
  }
}

.form-input {
  text-decoration: none;
  appearance: none;
  border: 1px solid rgba(10, 10, 10, 0.7);
  margin: 1em 0 0.5em 0;
  padding: 0.5em;
  width: 25%;
  border: none;
  text-align: left;

  &.full-width{
    width: 100%;
  }
}

.dropdown {
  padding: 0.5em;
  width: 40%;
}

.error-message {
  display: block;
  color: red;
  font-size: 0.8em;
  margin-top: 0;
}
