.autocomplete-wrapper {
  position: relative;
  margin-top: 1em;
  max-height: 350px;
  overflow: scroll;
}

.custom-service {
  position: sticky;
  top: 0;
  z-index: 1;
}

.service-card {
  width: 250px;
  padding: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.autocomplete-wrapper .active {
  border: 2px solid red;
}


////////////////////////// FORM2 /////////////////////////

.custom-offer-wrapper {
  padding: 1em 0;
}

.form-input {
  text-decoration: none;
  appearance: none;
  border: 1px solid rgba(10, 10, 10, 0.7);
  border-radius: 0.3em;
  margin: 1em 0;
  padding: 0.5em;

  &.full-width{
    width: 100%;
  }
}

.dropdown {
  padding: 0.5em;
}
