#autocomplete-services {
  position: absolute;
  max-height: 350px;
  overflow: scroll;
}

.service-card {
  width: 250px;
  padding: 2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
