.infos-card {
  background: #220F37;
  border-radius: 10px;
  padding: 6px;
  margin: 13px;
  & p {
    margin: 0px;
    text-decoration: none;
  }
  & ul {
    display: inline-block;
  }
}

.infos-cards {
  margin-top: 20px;
}

.infos-big-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 24px;
}

#expanses {
  height: 6px;
  width: 15px;
  border-radius: 10px;
  background: #6743B8;
  display: inline-block;
  margin-right: 5px;
}

#budget {
  height: 6px;
  width: 15px;
  border-radius: 10px;
  background: #322246;
  display: inline-block;
  margin-right: 5px;
}

#pbudget {
  margin-right: 15px;
}
