.infos-card {
  background: #220F37;
  border-radius: 10px;
  padding: 8px;
  margin: 13px;
  & p {
    margin: 5px 0px;
    font-size: 12px;

  }
  & ul {
    display: inline-block;
    list-style-type: circle;
  }
}

.infos-cards {
  margin-top: 20px;
}

.infos-big-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 24px;
  padding: 1rem;
}

#expanses {
  height: 6px;
  width: 15px;
  border-radius: 10px;
  background: #6743B8;
  display: inline-block;
  margin-right: 5px;
}

#budget {
  height: 6px;
  width: 15px;
  border-radius: 10px;
  background: #322246;
  display: inline-block;
  margin-right: 5px;
}

#pbudget {
  margin-right: 15px;
}

.graph {
  & b{
    font-size: 16px;
  }
}

.name-infos {
  display: inline-block;
  width: 7em;
}

.expenses-infos {
  background-color: #322247;
  padding: 2px 10px;
  border-radius: 5px;
}
