.sub-wrapper {
  color: aliceblue;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  //border: 2px solid rgba(4, 83, 230, 0.288);
  filter: brightness(80%);
  font-size: 0.8rem;
}

img {
  width: 100%;
}

.sub-logo {
  width: 75px;
  height: 75px;
  border-radius: 0.3rem;
}

.sub-title {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.sub-price-wrapper {
  display: flex;
}

.user-submition-wrapper {
  margin-top: 2rem;
  & input,
  & select,
  & textarea {
    width: 8rem;
    width: max-content;
    font-size: 1rem;
    appearance: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: rgba(210, 210, 210, 0.4);
    border: 1px solid rgba(10, 10, 10, 0.6);
  }
  & h5{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  & i {
    margin-right: 1rem;
    font-size: 1.75rem;
  }
  & p {
    margin: 0;
    margin-left: 1rem;
  }
}

#reminder-delay {
  width: 5rem;
}
