.show-budget-wrapper {
  padding-top: 1rem;
  & ul {
    list-style: none;
    padding: 0;
  }
}

.sub-card {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  border-radius: 0.4rem;
  background-color: $clr-bg-primary;
  margin: 1.25rem 0;
  & img {
    width: 30%;
    border-radius: 0.4rem;
    object-fit: cover;
  }
  & h4 {
    font-weight: 600;
    font-size: 1.6rem;
  }
  & .sub-card-info {
    justify-content: space-between;
    align-items: flex-end;
    & > h6 { opacity: 0.6; }
    & * { font-size: 1.2rem; }
    & span { font-size: 0.9rem; }
    & .sub-card-days-remaining h6 { font-size: 1rem; }
  }
}

.dashboard-cards {
  & a {
    color: white;
    text-decoration: none;
  }
}

.notification {
  padding: 0.4em;
  border-radius: 3px;
  font-family: inherit;
  margin-bottom: 1rem;
  &.unimportant{
  color: rgb(13, 102, 7);
  background-color: rgb(221, 250, 212);
  }
  &.urgent{
  color: rgb(112, 6, 6);
  background-color: rgb(247, 217, 217);
  }
}
